Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
SortIncludes: false
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BreakStringLiterals: false
