[Unit]
Description=overlaybd-tcmu service
After=network.target
Before=local-fs-pre.target shutdown.target
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
LimitNOFILE=infinity
LimitCORE=infinity
Type=simple

ExecStartPre=modprobe target_core_user
ExecStart=/opt/overlaybd/bin/overlaybd-tcmu

GuessMainPID=no
Restart=always
RestartSec=2s
KillMode=process
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
